  <p>
  books worksssssssssss!
</p>
<table *ngIf="books.length" >
  <thead>
  <tr>
    <td>index:</td>
    <td>id:</td>
    <td>tile:</td>
    <td>author:</td>
    <td>aa:</td>
    <td>aaa:</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books; let i = index">
    <td>{{i+1}}</td>
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>
      <button *ngIf="book.available; else available" class="btn btn-primary">ddddddddd</button>
      <!--<div *ngIf="!book.available">book is not avaliable</div>-->
      <ng-template #available>book is not available</ng-template>
    </td>
  </tr>


  </tbody>



</table>

  <book></book>
